html {
  background-color: #FFF4DD;
}

.App {
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 10px 5px 20px 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 1px solid black;
}